.topbox{
    width: 100%;
    height: 100px;
    background-color: hsl(99, 52%, 72%);
    margin-bottom: 10px;
}

.container{
    display: flex;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

}

.container .box:nth-child(1){
    background-color: #f4eb49;
    width: 20%;
}

.container .box:nth-child(2){
   width: 78%;
}

.box{
    height: 150px;
}
.bg-blue{
    background-color: aqua;
    
}

.bg-orange{
    background-color: coral;
}